# Python
__pycache__/
*.py[cod]
*.egg-info/

# Ambiente virtual
.venv/
venv/

# Variaveis de ambiente
.env
.env.*
!.env.example

# Flask
instance/
*.db
*.sqlite3

# Testes
.pytest_cache/
.coverage
htmlcov/

# IDEs
.idea/
.vscode/
*.iml

# SO
.DS_Store
Thumbs.db
